/* styles.css */

/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

form {
  text-align: center;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 10%;
  padding: 10px;
  background-color: #00337b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#loading-indicator {
  display: none;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

a {
  text-align: center;
  display: block;
  position: relative;
  margin-inline: auto;
 
  text-decoration: none;
  background-color: #00337b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 20%;
}

a:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}
